body{
background-color:black;
color:white;
text-align:left;
vertical-align:top;
font-family:verdana,sans-serif;
}
td.folderOpen{
background-image:url('/style/bw/16/html-menu-treeview/folderOpen.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:20px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/bw/16/html-menu-treeview/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/bw/16/html-menu-treeview/minusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.lastMinusNode{
background-image:url('/style/bw/16/html-menu-treeview/lastMinusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.plusNode{
background-image:url('/style/bw/16/html-menu-treeview/plusNode.gif');
cursor:pointer;
}
td.lastPlusNode{
background-repeat:no-repeat;
background-image:url('/style/bw/16/html-menu-treeview/lastPlusNode.gif');
cursor:pointer;
}
td.node{
background-image:url('/style/bw/16/html-menu-treeview/node.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
td.submenuDeco{
background-image:url('/style/bw/16/html-menu-treeview/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/bw/16/html-menu-treeview/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:20px;
}
a.treeviewLink{
font-size:14px;
height:20px;
color:white;
}
a.treeviewLink:hover{
font-size:14px;
height:20px;
color:red;
}