td.clasicMinusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/clasicMinusNode.gif');
cursor:pointer;
}
td.clasicLastMinusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/clasicLastMinusNode.gif');
cursor:pointer;
}
td.clasicPlusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/clasicPlusNode.gif');
cursor:pointer;
}
td.clasicLastPlusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/clasicLastPlusNode.gif');
cursor:pointer;
}
td.folderYellow{
background-image:url('/style/Crystal/22/html-menu-treeview/folderYellow.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderYellowClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderYellowClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}

td.folderViolet{
background-image:url('/style/Crystal/22/html-menu-treeview/folderViolet.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderVioletClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderVioletClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}

td.folderGray{
background-image:url('/style/Crystal/22/html-menu-treeview/folderGray.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderGrayClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderGrayClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}

td.folderOpen{
background-image:url('/style/Crystal/22/html-menu-treeview/folderOpen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}
td.folderOrange{
background-image:url('/style/Crystal/22/html-menu-treeview/folderOrange.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderOrangeClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderOrangeClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}
td.folderRed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderRed.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderRedClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderRedClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}
td.folderGreen{
background-image:url('/style/Crystal/22/html-menu-treeview/folderGreen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderGreenClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderGreenClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}
td.folderPrint{
background-image:url('/style/Crystal/22/html-menu-treeview/folderPrint.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
vertical-align:top;
}
td.folderPrintClosed{
background-image:url('/style/Crystal/22/html-menu-treeview/folderPrintClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:25px;
font-size:22px;
height:30px;
color:black;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/minusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.lastMinusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/lastMinusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.plusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/plusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
}
td.lastPlusNode{
background-image:url('/style/Crystal/22/html-menu-treeview/lastPlusNode.gif');
background-repeat:no-repeat;
cursor:pointer;
height:30px;
}
td.node{
background-image:url('/style/Crystal/22/html-menu-treeview/node.gif');
cursor:pointer;
font-size:22px;
height:30px;
}
td.submenuDeco{
background-image:url('/style/Crystal/22/html-menu-treeview/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/Crystal/22/html-menu-treeview/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:22px;
height:30px;
}
a.treeviewLink{
font-size:22px;
color:black;
cursor:pointer;
height:30px;
}
a.treeviewLink:hover{
font-size:22px;
height:22px;
color:blue;
cursor:pointer;
}