td.clasicMinusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/clasicMinusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.clasicLastMinusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/clasicLastMinusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
height:22px;
}
td.clasicPlusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/clasicPlusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
height:22px;
}
td.clasicLastPlusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/clasicLastPlusNode.gif');
cursor:pointer;
height:22px;
background-repeat:no-repeat;
}
td.folderOpen{
background-image:url('/style/Crystal/16/html-menu-treeview/folderOpen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderYellow{
background-image:url('/style/Crystal/16/html-menu-treeview/folderYellow.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderYellowClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderYellowClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderViolet{
background-image:url('/style/Crystal/16/html-menu-treeview/folderViolet.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderVioletClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderVioletClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderOrange{
background-image:url('/style/Crystal/16/html-menu-treeview/folderOrange.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderOrangeClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderOrangeClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderRed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderRed.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderRedClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderRedClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderGray{
background-image:url('/style/Crystal/16/html-menu-treeview/folderGray.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderGrayClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderGrayClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderGreen{
background-image:url('/style/Crystal/16/html-menu-treeview/folderGreen.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderGreenClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderGreenClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderMan{
background-image:url('/style/Crystal/16/html-menu-treeview/folderMan.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderManClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderManClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderHtml{
background-image:url('/style/Crystal/16/html-menu-treeview/folderHtml.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderHtmlClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderHtmlClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderFavorite{
background-image:url('/style/Crystal/16/html-menu-treeview/folderFavorite.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderFavoriteClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderFavoriteClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderText{
background-image:url('/style/Crystal/16/html-menu-treeview/folderText.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderTextClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderTextClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderLocked{
background-image:url('/style/Crystal/16/html-menu-treeview/folderLocked.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderLockedClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderLockedClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderCrystal{
background-image:url('/style/Crystal/16/html-menu-treeview/folderCrystal.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderCrystalClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderCrystalClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderVideo{
background-image:url('/style/Crystal/16/html-menu-treeview/folderVideo.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderVideoClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderVideoClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderPrint{
background-image:url('/style/Crystal/16/html-menu-treeview/folderPrint.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderPrintClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderPrintClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderSentMail{
background-image:url('/style/Crystal/16/html-menu-treeview/folderSentMail.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderSentMailClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderSentMailClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderImage{
background-image:url('/style/Crystal/16/html-menu-treeview/folderImage.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderImageClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderImageClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderSound{
background-image:url('/style/Crystal/16/html-menu-treeview/folderSound.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderSoundClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderSoundClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderImportant{
background-image:url('/style/Crystal/16/html-menu-treeview/folderImportant.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderImportantClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderImportantClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.folderTar{
background-image:url('/style/Crystal/16/html-menu-treeview/folderTar.gif');
background-repeat:no-repeat;
color:black;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
vertical-align:top;
}
td.folderTarClosed{
background-image:url('/style/Crystal/16/html-menu-treeview/folderTarClosed.gif');
background-repeat:no-repeat;
cursor:pointer;
padding-left:20px;
font-size:14px;
height:22px;
color:black;
vertical-align:top;
}
td.minusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/minusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.lastMinusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/lastMinusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
height:22px;
}
td.plusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/plusNode.gif');
cursor:pointer;
background-repeat:no-repeat;
}
td.lastPlusNode{
background-image:url('/style/Crystal/16/html-menu-treeview/lastPlusNode.gif');
cursor:pointer;
height:22px;
background-repeat:no-repeat;
}
td.node{
background-image:url('/style/Crystal/16/html-menu-treeview/node.gif');
cursor:pointer;
font-size:14px;
height:22px;
background-repeat:repeat-y;
text-align:left;
}
td.submenuDeco{
background-image:url('/style/Crystal/16/html-menu-treeview/vertLine.gif');
background-repeat:repeat-y;
}
td.lastNode{
background-image:url('/style/Crystal/16/html-menu-treeview/lastNode.gif');
background-repeat:no-repeat;
cursor:pointer;
font-size:14px;
height:22px;
}
a.treeviewLink{
font-size:14px;
color:black;
cursor:pointer;
height:22px;
font-family:verdana,sans-serif;
}
a.treeviewLink:hover{
font-size:14px;
height:22px;
color:blue;
cursor:pointer;
font-family:verdana,sans-serif;
}
td.columnsFolder{
font-size:14px;
height:22px;
vertical-align:top;
font-family:verdana, sans-serif;
}
td.columnsFolderClosed{
font-size:14px;
height:22px;
vertical-align:top;
font-family:verdana, sans-serif;
}
td.columnsNode{
font-size:14px;
height:22px;
font-family:verdana, sans-serif;
}
td.columnsLastNode{
font-size:14px;
font-family:verdana, sans-serif;
height:22px;
}
